@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&family=Outfit:wght@100;200&family=Roboto&display=swap');

:root{
  --fnt-size: 2rem;
  --fnt-clr: black;
  --bg-clr:white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: hsl(234, 29%, 20%);
  color: var(--fnt-clr);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}


/* BACKDROP SECTION */
#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}
/*  CONTAINER / WRAPPER SECTION*/
#wrapper{
  background-color: var(--bg-clr);
  width: 45%;
  height: 520px;
  margin-top: 50px;
  border-radius:50px;
  display: flex;
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
  display: flex;
}
/* RIGHT CONTAINER SECTION  */
.right-container{
    width: 50%;
  }
.right-container img{

    width: 100%;
    height: 100%;
  }

/*LEFT - CONTAINER SECTION  */

.left-container{
    width: 50%; 
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
  }
ul{
      list-style: none;
      margin-top: 20px;
    }
ul li{
  display: flex;
  font-size: .8rem;
  justify-content: flex-start;
  align-items: center;
  line-height: 27px;
  font-weight: 700;
}

ul li img{
  padding-right:10px ;
}


.left-container h1{
  font-size: 2.5rem;
  margin-top: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}

.left-container p{
  font-size: .8rem;
  margin-top: 2rem;
  line-height: 1.7rem;
  font-weight: 500;
}

.left-container label{
  font-size: .8rem;
  margin-top: 2rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.left-container input{
    height: 40px;
    width: 90wv;
    border-radius:10px;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
}

.left-container button{
    background: hsl(234, 29%, 20%);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    height: 40px;
    width: 90wv;
    border-radius:10px;
    letter-spacing: .9px;
}


.left-container button:hover{
   background:  hsl(4, 100%, 67%);
   color: white;
}

@media screen and (max-width: 800px){
    #wrapper{
      width: 100%;
      height: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-radius: 0px 0px 0px 0px;

    }
    #rightContainer{
      width: 100%;
      margin-top: -2px;
      height: 25vh;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      background: url(/newsletter-sign-up-with-success-message-main/assets/images/illustration-sign-up-mobile.svg);
    }
    .right-container img{
      display: none;
    }
   

    /* left container section */
    #leftContainer{
      overflow: hidden;
      width: 100%;
    }

    #leftContainer h1{
      font-size: 1.8rem;
      justify-content: center;
      margin-top: 15px;
    }
    #leftContainer p{
      font-size: .9rem;
      justify-content: center;
      margin-top: 1px;
    }

    #leftContainer li{
      font-size: 1rem;
      line-height: .9rem;
      font-weight: 600;
    }
    #leftContainer li img{
      margin-bottom: 19px;
    }

    #leftContainer li:nth-child(3){
 
      padding: 0;
      margin: 0;
    }
    #leftContainer li:nth-child(3) img{

      padding-right: 10px;
      margin: 0;
    }

    #leftContainer label{
      font-size: .8rem;
      font-weight: 700;
    }

    #leftContainer input{
      border-radius: 5px;
      border-color: none;
      border: .2px solid  gray;
    }

    #leftContainer button{
      border-radius: 5px;
      background: hsl(234, 29%, 20%);
      color: white;
      
    }
    #leftContainer button:hover{
      border-radius: 5px;
      background:  hsl(4, 100%, 67%);
      color: white;
    }

}


  